[class*="col-"]{
    width: 100%;
    padding: 0;
}body{
    padding: 0;
    margin:0;
    font-family: 'Oswald', sans-serif !important;
}
@media only screen and (min-width:992px){
    .navbar-expand-lg{
        background-color: black !important;
        margin-bottom:0 !important;
    }
    .navbar{
        border-radius: 0 !important;
    }
    header .container{
        padding-right:0 !important;
        padding-left:0 !important;
    }
    header nav{
        display:fixed !important;
    }
    header nav ul{
        font-size:25px;
        background-color: black !important;
        margin:2%;
        border-bottom: none !important;
        font-weight: 600;
        
    }
    header nav ul li:first-of-type{
        font-weight: bold;
        font-size:35px;
        border:none !important;

    }
    header nav ul li{
        padding:0.5%;
        cursor: pointer;
        color:white
    }
    header nav ul li a{
        color:white !important;

    }
    .logo a{
        color: orange !important;
    }
    .banner .container{
        background: url(../IMG/banner1.jpg) no-repeat center;
        color:white;
        position:relative;
        padding:9%;
        align-items: center;
        display:flex;
        font-family: 'Oswald', sans-serif;
    }
    .banner h3{
        font-size:50px;
        line-height: 65px;
        font-weight: 300px;
    }
    .banner p{
        line-height: 1.6;
        font-size: 2.5rem;
        font-weight: 200;
    }
    .btn-style-white:first-of-type{
        background-color:#ffffff;
        border:none !important;
        color:black;
        padding: 2% 2%;
        font-weight: 900;
    }
    .btn-style-white{
        border: 1px solid black !important;
        color:black;
        padding: 2% 2% !important;
        cursor: pointer;
        font-weight: 900 !important;
    }
    .mr-2{
        margin-right: 1%;
    }
    .btn-style-border{
        background:transparent;
        color:#fff;
    }
    .banner a{
        font-size:2rem;
        font-weight: 200;
    }
    .few-word-about-us{
        padding-top:2%;
        padding-bottom:2%;
    }
    .few-word-about-us .container{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .left-word{
        line-height:2;
        padding-top:5%;
        
    }
    .left-word h2{
        font-weight: bold;
    }
    .left-word p{
        font-size:18px;
    }
    .left-word button{
        font-size:15px;
        font-weight: 600;
    }
    .membership{
        padding-bottom:5%;
        background-color:#fafafa;

    }
    .title-member{
        padding-top:2%;
        padding-bottom:2%;
        text-align: center;
        line-height: 2;
    }
    .title-member h1{
        font-weight: bold;
    }
    .title-member p{
        font-size:18px;
    }
    .member-us{
        justify-items: center;
        justify-content: center;
        text-align: center;
    }
    .member-us a{
        padding:5%;
        font-size:20px;
        color:#707070;
    }











    footer{
        background-color:black;
        color:white !important;
        padding-top:3%;
    }
    .ft-01{
        border-bottom: 1px solid snow ;
    }
    .ft-01-left{
        line-height: 200%;

    }
    .ft-01-left a{
        text-decoration: none !important;
        font-size:40px;
        color:orange;
    }
    .ft-01-left p{
        font-size: 20px;
        padding-top:4% !important;
    }
    .ft-01-right h4{
        font-weight: bold;
        font-size:150%;
    }
    .ft-menu{
        padding: 0 !important;
        text-decoration: none !important;
        list-style-type: none !important;

    }
    .ft-menu li{
        line-height: 150%;
        font-size:20px;
        padding: 1% !important;

    }
    .ft-menu li a{
        color:whitesmoke;
    }
}